<launch>
  <arg name="model" default="$(find lunarbot)/urdf/lunarbot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find lunarbot)/rviz/urdf.rviz" />

  <include file="$(find lunarbot)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find lunarbot)/config/joints.yaml"
            ns="lunarbot_joint_state_controller" />
  <!--rosparam command="load"
            file="$(find urdf_sim_tutorial)/config/head.yaml"
            ns="r2d2_head_controller" /-->
  <!--rosparam command="load"
            file="$(find urdf_sim_tutorial)/config/gripper.yaml"
            ns="r2d2_gripper_controller" /-->
  <rosparam command="load"
            file="$(find lunarbot)/config/diffdrive.yaml"
            ns="lunarbot_diff_drive_controller" />

  <node name="lunarbot_controller_spawner" pkg="controller_manager" type="spawner"
    args="lunarbot_joint_state_controller
          lunarbot_diff_drive_controller
          --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/lunarbot_diff_drive_controller/cmd_vel"/>
  </node>
</launch>
